<table class="table-word-answer">
  <tr class="table-word-answer-title">
    <th class="word-answer-index"><%= t ".index" %></th>
    <th class="word-answer-word"><%= t ".word" %></th>
    <th class="word-answer-answer"><%= t ".answer" %></th>
  </tr>
  <% @words.each_with_index do |word, index|  %>
    <tr>
      <td>
        <% params[:page] ||= "1" %>
        <%= get_index params[:page], index, Settings.word.per_page %>
      </td>
      <td><%= word.content %></td>
      <td><% word.answers.each do |answer| %>
        <%= answer.content if answer.is_correct %>
      <% end %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>

