<% provide :title, t(".wordlist") %>
<%= form_tag words_path, method: :get, id: "search-form" do %>
  <div class="user-box-search">
    <div class="select-category">
      <label id="label-cate"><%= t ".category" %></label>
      <%= select_tag(:category_id, options_for_select(@categories
        .collect{|category| [category.name, category.id]},
        params[:category_id]), include_blank: Settings.all,
        class: "categories-search", prompt: t(".select")) %>
    </div>
    <div class="user-filter-word">
      <label class="title"><%= t ".status" %></label>
      <% Settings.word_filter.each do |key, status| %>
        <%= radio_button_tag :word_filter, status,
          params[:word_filter] == status %>
        <%= label_tag "page_word_filter", (t ".#{status}"),
          class: "font-normal" %>
      <% end %>
      <%= text_field_tag :search, params[:search], class: "form-control",
        placeholder: (t ".search_by_word") %>
      <%= submit_tag t(".filter"), class: "btn btn-primary", id: "btn-search"%>
    </div>
  </div>
  <%= render "word" %>
<% end %>
