<% @categories.each_with_index do |cate, index| %>
  <tr>
    <td>
      <% params[:page] ||= "1" %>
      <%= get_index params[:page], index, Settings.category.per_page %>
    </td>
    <td><%= cate.name %></td>
    <td><%= cate.description %></td>
    <td><%= l cate.created_at, format: :long %></td>
    <td>
      <a href="#" class="underline">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    </td>
    <td>
      <%= link_to [:admin, cate], method: :delete,
        class: "underline text-danger",
        data: {confirm: (t "confirm_delete")} do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </td>
  </tr>
<% end %>
